.background {
    width: 100%;
    background-color: #FFEEF2;
}

.content {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10rem;
}

.content h1, .content-img h1 {
    font-size: 1.2rem;
    color: #232ED1;
}

.content h2, .content-img h2 {
    font-size: 2rem;
}

.content p, .content-img p {
    font-size: 1.1rem;
    line-height: 35px;
}

.content a {
    margin-right: 1rem;
}

.content .button-1 {
    background-color: #111;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #111;
    transition: all .2s;
}

.content .button-1:hover {
    background-color: #2a2a2a;
    box-shadow: 0px 0px 12px #111;
}

.content .button-2 {
    background-color: #ddd;
    padding: 1rem;
    border: 1px solid #111;
    color: #111;
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s;
    box-shadow: 0px 2px 5px #111;
}

.content .button-2:hover {
    background-color: #8a8a8a;
    box-shadow: 0px 0px 12px #111;
}

.content-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.png {
    width: 350px;
}

.content-columns .credit {
    text-decoration: none;
    color: #111;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all .2s;
}

.content-columns .credit:hover {
    color: #232ED1;
    text-decoration: underline;
}

.content .content-columns div  {
    margin-top: 8rem;
}

.content-img {
    max-width: 1000px;
    margin: auto;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: 100%;
    margin-bottom: 8rem;
    border-radius: 25px;
}

.content-img-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    gap: 1rem;
}

/* ORDER */
.content-1 {order: 1;}
.content-2 {order: 2;}
.content-3 {order: 3;}
.content-4 {order: 4;}
.content-5 {order: 5;}
.content-6 {order: 6;}


@media(max-width: 550px) {

    .content {
        max-width: 350px;
        margin: auto;
    }
    
    .content h1, .content-img h1 {
        font-size: 1.1rem;
        color: #232ED1;
    }
    
    .content h2, .content-img h2 {
        font-size: 1.8rem;
    }
    
    .content p, .content-img p {
        font-size: 1.1rem;
        line-height: 35px;
    }
    
    .content a {
        margin-right: 1rem;
    }
    
    .content .button-1 {
        background-color: #111;
        padding: 1rem;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 5px #111;
        transition: all .2s;
    }
    
    .content .button-1:hover {
        background-color: #2a2a2a;
        box-shadow: 0px 0px 12px #111;
    }
    
    .content .button-2 {
        background-color: #ddd;
        padding: 1rem;
        border: 1px solid #111;
        color: #111;
        text-decoration: none;
        border-radius: 10px;
        transition: all .2s;
        box-shadow: 0px 2px 5px #111;
    }
    
    .content .button-2:hover {
        background-color: #8a8a8a;
        box-shadow: 0px 0px 12px #111;
    }
    
    .content-columns {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    
    .png {
       width: 200px;
    }

    .content .content-columns div   {
        margin-bottom: 5rem;
        margin-top: 2rem;
    }
    
    .content-img {
        max-width: 350px;
        margin: auto;
        margin-top: 1rem;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-content {
        width: 100%;
        margin-bottom: 3rem;
        border-radius: 25px;
    }
    
    .content-img-columns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }

    .last {
        margin-bottom: 8rem;
    }

    /* ORDER */
    .content-3 {order: 4;}
    .content-4 {order: 3;}
}