@media(max-width: 550px) {

    nav #mainMenu {
        height: 100vh;
        position: fixed;

        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: #fff;

        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;

        transition: top 1s ease 0s;
        z-index: 1000;
    }

    nav #mainMenu #closeMenu {
        display: block;
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
    }

    nav #openMenu {
        display: block;
    }

    nav #openMenu, #closeMenu {
        color: #111;
    }

    nav #mainMenu li {
        margin-bottom: 2.5rem;
    }

    nav #mainMenu li a {
        font-size: 2rem;
    }

    main {
        max-width: 350px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .header-main {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .column-1  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        gap: 0;
        margin-bottom: 2rem;
    }
    
    .column-2 img {
        width: 350px;
    }

    .background {
        background-color: antiquewhite;
    }

    .header-main {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    
    .header-main h1 {
        font-size: 3rem;
    }

    .header-main div {
        gap: 1rem;
    }
    
    .header-main a {
        padding: 1rem;
        font-size: 1rem;
        width: 50%;
    }

    .items {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 5rem;
    }
    
    .items h1 {
        text-align: center;
        color: #232ED1;
    }
    
    .grid {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .grid .text {
        line-height: 38px;
    }
    
    .circle {
        background-color: #111;
        padding: 1rem;
        border-radius: 50%;
    }
    
    .circle i {
        color: #fff;
    }

    .section-1 h1 {
        font-size: 3rem;
    }


    .section-client {
        max-width: 380px;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
    .section-client .title {
        font-size: 1rem;
    }
    
    .section-client p {
        font-size: 1rem;
    }

    .columns {
        display: flex;
        flex-flow: column wrap;
    }
    
    .columns img {
        width: 2rem;
        height: 2rem;
    }
    
    .section-articles {
        max-width: 380px;
    }
    
    .section-articles h1 {
        font-size: 1rem;
    }
    
    .section-articles h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    .columns-articles {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .columns-articles .title-a {
        font-size: 1.3rem;
    }
    
    .columns-articles img {
        width: 50%;
    }

    .contact {
        display: flex;
        flex-flow: column wrap;
        max-width: 320px;
        margin: auto;
        height: 580px;
    }

    .content {
        max-width: 350px;
        margin: auto;
    }
    
    .content h1, .content-img h1 {
        font-size: 1.1rem;
        color: #232ED1;
    }
    
    .content h2, .content-img h2 {
        font-size: 1.8rem;
    }
    
    .content p, .content-img p {
        font-size: 1.1rem;
        line-height: 35px;
    }
    
    .content a {
        margin-right: 1rem;
    }
    
    .content .button-1 {
        background-color: #111;
        padding: 1rem;
        text-decoration: none;
        color: #fff;
        border-radius: 10px;
        transition: all .2s;
    }
    
    .content .button-1:hover {
        background-color: transparent;
    }
    
    .content .button-2 {
        background-color: #232ED1;
        padding: 1rem;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        transition: all .2s;
    }
    
    .content .button-2:hover {
        background-color: transparent;
    }
    
    .content-columns {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    
    .png {
       width: 200px;
    }

    .content .content-columns div   {
        margin-bottom: 5rem;
        margin-top: 2rem;
    }
    
    .content-img {
        max-width: 350px;
        margin: auto;
        margin-top: 1rem;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-content {
        width: 100%;
        margin-bottom: 3rem;
        border-radius: 25px;
    }
    
    .content-img-columns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }

    .last {
        margin-bottom: 8rem;
    }

    /* ORDER */
    .content-3 {order: 4;}
    .content-4 {order: 3;}
}