@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    color: #222;
}

/* LOADER: https://cssloaders.github.io/ */

.loader-background {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232ED1;
    transition: opacity 1s, visibility 1s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}


.loader {
    display: inline-block;
    transform: translateZ(1px);
}

.loader:after {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: coin-flip 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes coin-flip {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
}
    


nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brand {
    margin-left: 1rem;
}

.brand .span {
    color: #232ED1;
}

nav #mainMenu {
    display: flex;
    list-style-type: none;
}

nav #mainMenu li a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .1s ease;
    color: #111;
    margin-right: 4rem;
}

nav #mainMenu li a:hover {
    color: #232ED1;
}

nav #closeMenu:hover, #openMenu:hover {
    color: #232ED1;
}

nav #openMenu {
    font-size: 2rem;
    margin: 1rem;
    display: none;
    cursor: pointer;
}

nav #mainMenu #closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    transition: all .2s;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.header-main {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.header-main h1 {
    font-size: 4rem;
}

.header-main h2 {
    color: #232ED1;
    font-size: 1.4rem;
}

.column-1 .column-link   {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5rem;
}

.column-2 img {
    width: 500px;
}

.column-2 .credit {
    text-decoration: none;
    color: #111;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all .2s;
}

.column-2 .credit:hover {
    color: #232ED1;
    text-decoration: underline;
}

.header-main .header-button {
    border-radius: 15px;
    padding: 1.2rem;
    font-size: 1.4rem;
    width: 100px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    box-shadow: rgba(35, 46, 209, 0.5) -5px 5px, rgba(240, 46, 170, 0.4) -10px 10px, rgba(240, 46, 209, 0.3) -15px 15px;
    background-color: #111;
    transition: all .2s;
}

.header-main .header-button:hover {
    background-color: #fff;
    color: #111;
}
/* --------- WHY CHOOSE US? -------- */

.items {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 8rem;
}

.items h1 {
    text-align: center;
    color: #232ED1;
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.grid div {
    margin-right: 2rem;
}

.grid .text {
    line-height: 40px;
    margin-right: 1rem;
}

.circle {
    background-color: #111;
    padding: 1.3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.circle i {
    color: #fff;
    font-size: 1.2rem;
}

/* --------- SECTION-1 -------- */
.section-1 h1 {
    font-size: 3.5rem;
    text-align: center;
}

.section-1 p {
    text-align: center;
}

/* ------- VIDEO -------- */
.video-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECTION-CLIENT */

.section-client {
    max-width: 1200px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.section-client .title {
    font-size: 2.2rem;
}

.section-client p {
    font-size: 1.1rem;
    line-height: 30px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    gap: 1rem;
    margin-top: 5rem;
}

.columns img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
}

.columns div {
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    padding: 1rem;
}

.columns div .p-span {
    color: #232ED1;
    font-weight: 500;
}

.span {
    color: #232ED1;
}

.img-background {
    background-color: #111;
    max-height: 100%;
    padding-bottom: 10rem;
}

.section-articles {
    max-width: 1200px;
    margin: auto;
    color: #fff;
}

.section-articles h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #F2F2F2;
}

.section-articles h2 {
    font-size: 2.3rem;
    text-align: center;
}

.columns-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.columns-articles .title-a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all .2s;
}

.columns-articles .title-a:hover {
    color: #232ED1;
}

.columns-articles p {
    color: #F2F2F2;
}

.columns-articles .tag {
    color: #8a8a8a;
}

.columns-articles img {
    width: 80%;
    border-radius: 15px;
}

.background-contact {
    width: 100%;
    background: linear-gradient(to left, #CEF2D0, #D6D5F2);
}

.contact {
    max-width: 800px;
    margin: auto;
    height: 800px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    color: #fff;
}

.contact div {
    padding: 3rem;
    background-color: #222;
    border-radius: 20px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact div .button {
    text-decoration: none;
    border: 2px solid #fff;
    box-shadow: rgba(35, 46, 209, 0.5) -5px 5px, rgba(240, 46, 170, 0.4) -10px 10px, rgba(240, 46, 209, 0.3) -15px 15px;
    background-color: transparent;
    color: #fff;
    padding: 0.9rem;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all .2s;
}

.contact div .button:hover {
    background-color: #fff;
    color: #111;
}

footer {
    background-color: #fff;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #111;
}

.background {
    width: 100%;
    background-color: #F4F4F5 ;
}

.content {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10rem;
}

.content h1, .content-img h1 {
    font-size: 1.2rem;
    color: #232ED1;
}

.content h2, .content-img h2 {
    font-size: 2rem;
}

.content p, .content-img p {
    font-size: 1.1rem;
    line-height: 35px;
}

.content a {
    margin-right: 1rem;
}

.content .button-1 {
    background-color: #111;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(35, 46, 209, 0.5) -5px 5px, rgba(240, 46, 170, 0.4) -10px 10px, rgba(240, 46, 209, 0.3) -15px 15px;
    transition: all .2s;
}

.content .button-1:hover {
    background-color: transparent;
    color: #111;
}

.content .button-2 {
    background-color: #232ED1;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s;
    box-shadow: rgba(35, 46, 209, 0.5) -5px 5px, rgba(240, 46, 170, 0.4) -10px 10px, rgba(240, 46, 209, 0.3) -15px 15px;
}

.content .button-2:hover {
    background-color: transparent;
    color: #111;
}

.content-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.png {
    width: 350px;
}

.credit {
    text-decoration: none;
    color: #111;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all .2s;
}

.credit:hover {
    color: #232ED1;
    text-decoration: underline;
}

.content .content-columns div  {
    margin-top: 8rem;
}

.content-img {
    max-width: 1000px;
    margin: auto;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-content {
    width: 100%;
    margin-bottom: 8rem;
    border-radius: 25px;
}

.content-img-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
    gap: 1rem;
}

/* ORDER */
.content-1 {order: 1;}
.content-2 {order: 2;}
.content-3 {order: 3;}
.content-4 {order: 4;}
.content-5 {order: 5;}
.content-6 {order: 6;}