@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    color: #222;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 1rem;
}

.brand .span {
    color: #232ED1;
}

nav #mainMenu {
    display: flex;
    list-style-type: none;
}

nav #mainMenu li a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .1s ease;
    color: #111;
    margin-right: 1rem;
}

nav #mainMenu li a:hover {
    color: #232ED1;
}

nav #closeMenu:hover, #openMenu:hover {
    color: #232ED1;
}

nav #openMenu {
    font-size: 2rem;
    margin: 1rem;
    display: none;
    cursor: pointer;
}

nav #mainMenu #closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    transition: all .3s;
}

main {
    max-width: 950px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.header-main {
    margin-bottom: 8rem;
}

.header-main h1 {
    color: #232ED1;
    font-size: 2.3rem;
}

.header-main h2 {
    font-size: 2rem;
    font-weight: 500;
}

.header-main div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header-main a {
    border-radius: 15px;
    padding: 1.2rem;
    font-size: 1.4rem;
    width: 100px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #111;
    transition: all .2s;
}

.header-main a:hover {
    background-color: #232ED1;
    box-shadow: 0px 1px 18px #111;
}
/* --------- WHY CHOOSE US? -------- */

.items {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 8rem;
}

.items h1 {
    text-align: center;
    color: #232ED1;
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.grid .text {
    line-height: 40px;
    margin-right: 1rem;
}

.circle {
    background-color: #111;
    padding: 1rem;
    border-radius: 50%;
}

.circle i {
    color: #fff;
}

/* --------- SECTION-1 -------- */
.section-1 h1 {
    font-size: 3.5rem;
    text-align: center;
}

.section-1 p {
    text-align: center;
}

/* ------- VIDEO -------- */
.video-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------- CONTENT -------- */
.background {
    background-color: #F2F2F2;
    width: 100%;
}

.content, .content3 {
    max-width: 1000px; 
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 70vh;
}

.content h1, .content3 h1 {
    color: #232ED1;
    font-size: 1.5rem;
}

.content h2, .content3 h2 {
    font-size: 2.2rem;
}

.content div, .content3 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content div a, .content3 div a {
    margin-right: 5rem;
}

 .a-1 {
    padding: 1.2rem;
    font-size: 1.1rem;
    background-color: #111;
    color: #F2F2F2;
    border-radius: 15px;
    text-decoration: none;
    transition: all .2s;
}

 .a-1:hover {
    background-color: #222;
    box-shadow: 0px 1px 18px #111;
}

 .a-2 {
    padding: 1.2rem;
    font-size: 1.1rem;
    background-color: #F2F2F2;
    color: #222;
    text-decoration: none;
    border: 1px solid #111;
    border-radius: 15px;
    transition: all .2s;
}

 .a-2:hover {
    background-color: #c2c2c2;
    box-shadow: 0px 1px 18px #111;
}

/* ------- CONTENT2 -------- */
.content2 {
    max-width: 1000px; 
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 70vh;
}

.content2 h1 {
    color: #232ED1;
    font-size: 1.5rem;
}

.content2 h2 {
    font-size: 2.2rem;
}

.content2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 div a {
    margin-right: 5rem;
}

.content2 .a-1 {
    padding: 1.2rem;
    font-size: 1.1rem;
    background-color: #111;
    color: #F2F2F2;
    border-radius: 15px;
    text-decoration: none;
    transition: all .2s;
}

.content2 .a-1:hover {
    background-color: #222;
    box-shadow: 0px 1px 18px #111;
}

/* SECTION-CLIENT */

.section-client {
    max-width: 1200px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.section-client .title {
    font-size: 2.2rem;
}

.section-client p {
    font-size: 1.1rem;
    line-height: 30px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    gap: 1rem;
    margin-top: 5rem;
}

.columns img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
}

.columns div {
    border: 1px solid #c2c2c2;
    border-radius: 15px;
    padding: 1rem;
}

.columns div .p-span {
    color: #232ED1;
    font-weight: 500;
}

.img-background {
    background: url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin-bottom: 5rem;
}

.section-articles {
    max-width: 1200px;
    margin: auto;
    color: #fff;
}

.section-articles h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #F2F2F2;
}

.section-articles h2 {
    font-size: 2.3rem;
    text-align: center;
}

.columns-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.columns-articles .title-a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.columns-articles .title-a:hover {
    text-decoration: underline;
}

.columns-articles p {
    color: #F2F2F2;
}

.columns-articles .tag {
    color: #F2F2F2;
}

.columns-articles img {
    width: 80%;
    border-radius: 15px;
}

.contact {
    max-width: 800px;
    margin: auto;
    height: 800px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    color: #fff;
}

.contact div {
    padding: 3rem;
    background-color: #222;
    border-radius: 20px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact div .button {
    text-decoration: none;
    border: 2px solid #fff;
    background-color: #fff;
    color: #222;
    padding: 0.9rem;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: all .2s;
}

.contact div .button:hover {
    background-color: #222;
    color: #fff;
}

footer {
    background-color: #111;
    padding: 1rem;

    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

@media(max-width: 550px) {
    nav #mainMenu {
        height: 100vh;
        position: fixed;

        display: none;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        background-color: #fff;

        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        transition: top 1s ease 0s;
        z-index: 100;
    }

    nav #mainMenu #closeMenu {
        display: block;
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
    }

    nav #openMenu {
        display: block;
    }

    nav #mainMenu li {
        margin-bottom: 2.5rem;
    }

    nav #mainMenu li a {
        font-size: 2rem;
    }
}